body {
  padding-top: 5rem;
}

html, body {
  height: 100%;
}

#landing {
  height: 100%;
}

#landing>div {
  height: 50%;
}

#landing {
  font-size: 2em;
}

.entry {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #999;
}

.preview {
  width: inherit;
}
